@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --sidebar: #2cace7;
  --side-card: #ffa500;
  --text: #141414;
  --main-content: #efeff5;
  --sidebar-text: #ffffff;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr 4fr;
  font-family: "Roboto", sans-serif;
}

.main-content {
  border: 2px red solid;
}

/* header */

.header {
  margin: 1% 5% 1% 2%;
}

.header-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-flow: column;

  margin-bottom: 1%;
}

input {
  background-color: #e2e8f0;
  font-size: inherit;
  border-radius: 10px;
  width: 700px;

  height: 2rem;
  margin-left: 2%;
  border: none;
}

.button-icon {
  height: 2rem;
}

.profile-icon {
  height: 3rem;
}

.header-search {
  display: flex;

  align-items: center;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 25px;
}

.header-icons > span {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile > .profile-icon {
  height: 4rem;
}

.header-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.profile {
  display: flex;
  gap: 16px;

  font-size: 1rem;
}

.username {
  font-size: 2rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: bold;
}

.header-buttons {
  align-self: center;
  justify-self: end;
}

button {
  width: 100px;
  height: 40px;
  background-color: var(--sidebar);
  border: none;
  color: var(--sidebar-text);

  font-weight: bold;
  border-radius: 25px;
  margin: 0 15px;
  font-size: 1rem;
}

/* sidebar */

.sidebar {
  grid-column: 1/1;
  grid-row: 1 / span 5;

  display: flex;
  flex-direction: column;
  align-items: start;

  background-color: var(--sidebar);
  padding-left: 5%;
  padding-top: 5%;
  color: var(--sidebar-text);
  font-size: 1.3rem;
  font-weight: 800;

  gap: 50px;
  min-height: 100vh;
  box-shadow: inset 0px 0px 5px 0px gray;
}

.sidebar-content {
  margin-bottom: 20px;
}

.sidebar-logo > img,
.sidebar-content > img {
  margin-right: 10px;
}

.sidebar-logo > img {
  height: 40px;
}

.sidebar-logo {
  font-size: 2rem;
}

.sidebar-content,
.sidebar-logo {
  display: flex;
  align-items: center;
}
